html {
    font-size: 14px;
}
body {
    padding: 46px 0 0 0;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    height: auto;
    min-width: 1200px;
    background-color: #f8f8f8;
    color: #40485b;
    background: #f7f7f7;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Liberation Sans", "PingFang SC", "Microsoft YaHei", "Hiragino Sans GB", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
    font-size: 14px;
    line-height: 1.33;
}
img {
    border: 0;
}
h3 {
    font-size: 1.28rem;
}
p:last-child {
    margin-bottom: 0em;
}
p {
    margin: 0em 0em 1em;
    line-height: 1.33;
}
a {
    text-decoration: none;
    cursor: pointer;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
.gitee-nav-user, .gitee-nav-user a {
    display: inline-block;
    position: relative;
}
#git-nav-user-bar .gitee-nav-user .link {
    font-size: 14px;
    background-color: transparent;
    color: #8c92a4;
    padding-right: 12px;
}
#git-nav-user-bar .gitee-nav-user .link:hover {
    color: #aeb2bf;
}
.gitee-nav-user img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    border-radius: 50%;
}
#git-header-nav .userbar>.item.gitee-nav-user {
    padding-right: 0px;
}
#git-header-nav .userbar>.item.light {
    background: #40485b;
}
#git-header-nav .gitee-nav-user .hidden {
    display: none;
}
#git-header-nav .gitee-nav-user .icon {
    width: 15px;
    height: 25px;
    vertical-align: middle;
    position: relative;
    margin-left: 3px;
}
#git-header-nav .gitee-nav-user .icon:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 10px;
    border-width: 5px 3px 0;
    border-style: solid;
    border-color: #8c92a4 transparent transparent;
}
#git-header-nav .gitee-nav-user .menu {
    width: 150px;
    position: absolute;
    background-color: #40485b;
    padding: 8px 0;
    top: 46px;
    right: 0px;
}
#git-header-nav .gitee-nav-user .menu a.link {
    width: 100%;
    font-size: 14px;
    padding: 0.5em 1.5em;
    line-height: 1.75;
    color: #D8DADE;
}

#git-header-nav .gitee-nav-user .menu .icon-ic-home {
    font-size: 1.25em !important;
    width: 14px;
    margin-right: 14px;
    margin-left: -2px;
    line-height: 0;
    margin-top: -1px;
    vertical-align: middle;
}

#git-header-nav .gitee-nav-user .menu a.link:hover {
    color: #fff;
    background: #343b4e;
}
.divider {
    border-color: #364056;
    border-top: 1px solid rgba(34, 36, 38, 0.2);
    height: 0em;
    margin: 0.5em 18px;
}
.mayun-icon {
    top: -1px;
    margin-right: 1em;
    display: inline-block;
    background-image: url('/static/images/gitee-icons.svg');
}
.my-ic-user-home-dims, .my-ic-edit-dims, .my-ic-exit-dims {
    width: 13px;
    height: 13px;
}
.my-ic-user-home {
    background-position: 0 -874px;
}
.my-ic-edit {
    background-position: 0 -405px;
}
.my-ic-exit {
    background-position: 0 -418px;
}
#git-header-nav.floating {
    box-shadow: 0 0 8px -1px rgba(0, 0, 0, 0.6);
}
#git-header-nav {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: none;
    position: fixed;
    background: #303643 !important;
    transition: box-shadow .3s;
}
#git-header-nav .ui.menu>.item.gitosc-logo img.image {
    width: 108px;
    height: 34px;
}
#git-header-nav .userbar>.item:last-child {
    padding-right: 2px;
}
#git-header-nav .userbar>.item {
    margin: 0;
    opacity: 1;
    padding: 10px 8px;
    line-height: 26px;
    color: #8c92a4;
}
#git-header-nav #projects-search-form {
    height: 26px;
}
#git-header-nav input {
    padding: .65em 1em;
}
input {
    line-height: normal;
}
.ui.mini.input {
    font-size: 0.8125rem;
}
.ui.fluid.input {
    display: block;
}
.ui.input {
    font-size: 1rem;
}
.ui.input {
    position: relative;
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);
}
#git-header-nav #projects-search-form #search_top-search-input {
    padding-left: 1em !important;
}
#git-header-nav #projects-search-form .input>input {
    color: #fff;
    font-size: 14px;
    padding: 4px 12px;
    border-radius: 3px;
    background: transparent;
    border: 1px solid #8c92a4;
}
#git-header-nav input {
    padding: .65em 1em;
}
.ui.left.icon.input>input {
    padding-left: 1.8em !important;
}
.ui.form textarea,
.ui.form input[type="text"],
.ui.form input[type="password"],
.ui.form input[type="number"],
.ui.form input[type="email"],
.ui.form input[type="date"],
.ui.input textarea,
.ui.input input[type="text"],
.ui.input input[type="password"],
.ui.input input[type="number"],
.ui.input input[type="email"],
.ui.input input[type="date"] {
    box-shadow: none;
    border-radius: 2px;
    border: 1px solid #dce3e8;
}
.ui.icon.input input {
    padding-right: 2.82142em !important;
}
.ui.input input {
    margin: 0em;
    width: 100%;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 1.2142em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Liberation Sans", "PingFang SC", "Microsoft YaHei", "Hiragino Sans GB", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
    padding: 0.67861em 1em;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.8);
    border-radius: 0.2857rem;
    -webkit-transition: background-color 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
    transition: background-color 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
    box-shadow: none;
}
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
}
input {
    line-height: normal;
}
#git-header-nav #projects-search-form #projects-search {
    cursor: pointer;
}
#git-header-nav #projects-search-form .input .iconfont {
    top: 1px;
    right: 16px;
    color: #8c92a4;
    position: absolute;
}
#git-header-nav .userbar>.item .iconfont {
    font-size: 1.43em;
}
.iconfont {
    font-size: 1em;
    -webkit-text-stroke-width: 0;
    display: inline-block;
    vertical-align: top;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.ui.container {
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
#git-header-nav .ui.menu {
    background: transparent;
    box-shadow: none;
}
.ui.menu:last-child {
    margin-bottom: 0rem;
}
.ui.menu:first-child {
    margin-top: 0rem;
}
.ui.menu {
    margin: 1rem 0rem;
    background: #ffffff;
    font-size: 0px;
    font-weight: normal;
    box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15), 0px 1px 2px 0 rgba(0, 0, 0, 0.05);
    border-radius: 0.2857rem;
}
#git-header-nav.common-header .ui.menu>.item:first-child {
    margin: 0 32px;
    margin-left: 0;
}
#git-header-nav.common-header .ui.menu>.item {
    margin: 10px 15px;
    padding: 0;
}
#git-header-nav.common-header .ui.menu sup.ui.red.label {
    top: -6px;
    right: -23px;
}
#git-header-nav .ui.menu sup.ui.red.label {
    top: 4px;
    right: -8px;
    margin: 0;
    z-index: 10;
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    padding: 2px 4px;
    border-radius: 2px;
    background-color: #C71D24 !important;
}
.ui.menu .item>.label {
    color: #7687AB;
    background: rgba(115, 121, 128, 0.2);
    margin-left: 2px;
}
.ui.menu .item>.label {
    background: rgba(0, 0, 0, 0.35);
    color: #ffffff;
    margin: -0.15em 0em -0.15em 0.5em;
    padding: 0.3em 0.8em;
    vertical-align: baseline;
}
.ui.red.labels .label,
.ui.red.label,
.ui.red.item {
    background-color: #ff2727;
    border-color: #ff2727;
    color: #ffffff !important;
}
.ui.red.labels .label,
.ui.red.label {
    background-color: #DB2828 !important;
    border-color: #DB2828 !important;
    color: #FFFFFF !important;
}
.ui.label:last-child {
    margin-right: 0em;
}
.ui.label:first-child {
    margin-left: 0em;
}
.ui.labels .label,
.ui.label {
    font-size: 0.85714286rem;
}
.ui.label {
    display: inline-block;
    line-height: 1;
    vertical-align: baseline;
    margin: 0em 0.14285714em;
    background-color: #E8E8E8;
    background-image: none;
    padding: 0.5833em 0.833em;
    color: rgba(0, 0, 0, 0.6);
    text-transform: none;
    font-weight: bold;
    border: 0px solid transparent;
    border-radius: 0.28571429rem;
    -webkit-transition: background 0.1s ease;
    transition: background 0.1s ease;
}
sup {
    top: -0.5em;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
#git-header-nav .ui.menu>.item.gitosc-logo {
    padding: 0;
    margin: 0;
    max-width: 189px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-overflow: clip;
    border-radius: 0;
}
#git-header-nav .ui.menu>.item {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    padding: 10px 15px;
    line-height: 26px;
    margin: 0;
}
#git-header-nav .gitosc-logo {
    font-weight: bold;
    font-size: 1.05rem;
    padding-left: 0.5rem;
}
.ui.menu>.item:first-child {
    border-radius: 0.2857rem 0px 0px 0.2857rem;
}
.ui.menu .item {
    position: relative;
    display: inline-block;
    padding: 0.78571em 0.95em;
    border-top: 0em solid transparent;
    background: none;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 1rem;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 0.2s ease, background 0.2s ease, box-shadow 0.2s ease;
    transition: opacity 0.2s ease, background 0.2s ease, box-shadow 0.2s ease;
    color: rgba(0, 0, 0, 0.8);
}
.ui.menu:not(.vertical) .item.right,
.ui.menu:not(.vertical) .menu.right {
    float: right;
}
.ui.menu .menu {
    margin: 0em;
}
.ui.menu:after {
    content: '';
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}
#git-header-nav .ui.menu .item:before {
    background: transparent;
}
.ui.inline.image,
.ui.inline.image svg,
.ui.inline.image img {
    display: inline-block;
}
img.ui.image {
    display: block;
}
.ui.image {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    background-color: transparent;
}
img {
    border: 0;
}
.ui.menu .item:before {
    position: absolute;
    content: '';
    top: 0%;
    right: 0px;
    width: 1px;
    height: 100%;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.05) 100%);
    background: linear-gradient(rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.05) 100%);
}
.ui.menu .text.item>*,
.ui.menu .item>a:not(.ui),
.ui.menu .item>p:only-child {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    line-height: 1.3;
    color: rgba(0, 0, 0, 0.8);
}
.midCenter {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -moz-box-pack: center;
    -webkit-box-pack: center;
    box-pack: center;
    -moz-box-align: center;
    -webkit-box-align: center;
    box-align: center;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
.ui.grid {
    margin-top: -1rem;
    margin-bottom: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    display: block;
    text-align: left;
    font-size: 0em;
    padding: 0em;
}
.ui.grid>.column:not(.row) {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.ui.grid>.column:not(.row),
.ui.grid>.row>.column {
    position: relative;
    display: inline-block;
    text-align: left;
    font-size: 14px;
    width: 6.25%;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: top;
}
.ui[class*="two column"].grid>.row>.column,
.ui[class*="two column"].grid>.column {
    width: 50%;
}
#git-footer-main {
    color: #9d9d9d;
    background: white;
    min-width: 1000px;
    margin: 50px 0 0 0;
}
#git-footer-main .footer-content {
    padding-top: 1.4286em;
    padding-bottom: 1.4286em;
}
.footer-content .qrcode.weixin {
    text-align: center;
    vertical-align: top;
    display: inline-block;
    margin-top: 32px;
}
.official-support-container .iconfont {
  font-size: 20px;
  height: 20px !important;
  line-height: 20px;
  vertical-align: middle;
  padding-right: 4px;
}
.official-support-container span {
  margin-right: 10px;
}
#git-footer-main p {
    line-height: 1.4286;
}
#git-footer-main a {
    color: #9d9d9d !important;
}
#git-footer-main a:hover {
    color: #686868 !important;;
}
#git-footer-main #footer-left .column {
    width: 25%;
}
ul.ui.list:last-child,
ol.ui.list:last-child,
.ui.list:last-child {
    margin-bottom: 0em;
    padding-bottom: 0em;
}
ul.ui.list,
ol.ui.list,
.ui.list {
    list-style-type: none;
    padding: 0em 0em;
}
.ui.link.list .item,
.ui.link.list a.item,
.ui.link.list .item a {
    color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.2s color ease;
    transition: 0.2s color ease;
}
ul.ui.list li:first-child,
ol.ui.list li:first-child,
.ui.list .list>.item:first-child,
.ui.list>.item:first-child {
    padding-top: 0em;
}
ul.ui.list li,
ol.ui.list li,
.ui.list>.item,
.ui.list .list>.item {
    display: list-item;
    table-layout: fixed;
    list-style-type: none;
    list-style-position: outside;
    padding: 0.3em 0em;
    line-height: 1.2;
}
#git-footer-main .ui.link.list .item a,
#git-footer-main .ui.link.list .item {
    line-height: 2;
    padding: 0;
    font-size: 14px;
}
.ui.link.list .item,
.ui.link.list a.item,
.ui.link.list .item a {
    color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.2s color ease;
    transition: 0.2s color ease;
}
ul.ui.list>li:first-child:after,
ol.ui.list>li:first-child:after,
.ui.list>.list>.item,
.ui.list>.item:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.ui.grid [class*="right aligned"].column {
    text-align: right !important;
}
#git-footer-main .followus>.qrcode {
    text-align: center;
    vertical-align: top;
    display: inline-block;
}
.phone-and-qq {
    width: 400px;
    height: 28px;
    float: left;
    text-align: left;
}
.phone-and-qq .official-support .icon-logo-qq {
  font-size: 20px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
}
#git-footer-main p {
    line-height: 1.4286;
}
#git-footer-main .followus>.qrcode img {
    width: 80px;
    height: 80px;
}
.phone-and-qq .ui.list {
    margin-top: 32px;
}
.phone-and-qq .ui.list .item {
    line-height: 2;
    padding: 0;
    font-size: 14px;
}
#git-footer-main .bottombar {
    background: #222;
    line-height: 42px;
    padding: 1rem 0;
}
#git-footer-main .bottombar .column {
    padding-top: 0;
    padding-bottom: 0;
}
.ui.grid>.row>[class*="five wide"].column,
.ui.grid>.column.row>[class*="five wide"].column,
.ui.grid>[class*="five wide"].column,
.ui.column.grid>[class*="five wide"].column {
    width: 31.25% !important;
}
.ui.grid>.row>[class*="eleven wide"].column,
.ui.grid>.column.row>[class*="eleven wide"].column,
.ui.grid>[class*="eleven wide"].column,
.ui.column.grid>[class*="eleven wide"].column {
    width: 68.75% !important;
}
#git-footer-main .bottombar .copyright {
    display: inline;
    padding-right: 10px;
}
.ui.grid:after,
.ui.grid>.row:after {
    content: '';
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}
#git-footer-main > * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content {
    padding: 20px;
}

.content a {
    color: #537c8d;
}
.content a:hover {
    color: #32465d;
}
.other-reason {
    text-align: left;
    color: #929292;
    padding-left: 70px;
    margin: 30px 0 45px 0;
}
#git-footer-main.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
}
.icon-popup {
    margin-right: 10px;
}

.image-box {
    font-size: 0;
    display: inline-block;
    padding: 30px 140px;
    box-sizing: border-box;
    background: url('../images/bg.png') no-repeat center;
}

.image-box img {
    float: left;
    height: 250px;
}

.image-box img + img {
    margin-left: -1px;
}
